@use "/src/sass/base/variables.scss" as *;

@mixin title {
    color: $dark;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: none;
    text-align: center;
}

@mixin button {
    display: block;
    border-radius: 2px;
    background-color: transparent;  /* - сделал кнопку прозрачной */
    border: 1px solid $dark;
    text-align: center;
    color: $dark;
    font-style: normal;
    font-weight: 400px;
    line-height: none;
    text-transform: uppercase;
}