@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/fontello.css";
@use "/src/sass/base/basic.scss";

@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/pxtorem.scss" as *;

/* Большие помпаненты */
@use "/src/sass/bloks/header.scss";

/* не больие компоненты */
@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/bottons.scss";

/* секции */
@use "/src/sass/bloks/promo.scss";

