@use '/src/sass/base/variables.scss' as *;

.catalog{
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__tabs {
        display: flex;
        row-gap: 13px;
        column-gap: 50px;
        flex-wrap: wrap;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 35px;
    }
    &__tab {
        position: relative;
        border: none;
        background: none;
        padding: 0;
        color:#000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: uppercase;
        &_active::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -1px;
        }
    }
}