@use "/src/sass/base/mixins.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
    background-color: transparent;  /* - сделал кнопку прозрачной */
    font-size: 20px;
}